@import "../entry-editor.scss";

.entry-object{
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.entry-object-container{
    margin-bottom:  0.6em;
    border-radius: 0%;
}
.entry-object-text {
    padding-right: 8px;
}

.entry-object-symbol {
    margin-top: -2px;
}