@import "../entry-editor.scss";

.entry-object{
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.entry-object-container{
    height: 56px;
    margin-bottom:  22px;
    border-radius: 0%;
}
.entry-object-text {
    padding-right: 8px;
}