.file-editor-container {
    flex: 1 1 auto;
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
}

.moryx-file-input {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
}

.file-input-field {
  flex: 1 1 auto;
}

.file-input-button {
  padding-top: 9px;
  padding-bottom: 6.5px;
  height: 56px;
  width: 56px;
  border: 0px;
  font-size: large;
  font-weight: 600;
  background: #fafafa;
  border-radius: 0%;
  cursor: pointer;
}

.file-input {
  display: none;
}
