<div class="file-editor-container">
    <input title="File Selector" type="file" class="file-input" (change)="onFileSelected($event)" #fileUpload>
    <div class="moryx-file-input file-upload">
        <mat-form-field appearance="fill" class="file-input-field">
            <mat-label>{{entry.displayName}}</mat-label>
            <input matInput [formControl]="inputFormControl"
                aria-label="Text field for selecting a file path." title="Filename" class="file-input-field">
        </mat-form-field>
        <button mat-button type="button" (click)="fileUpload.click()" class="moryx-button file-input-button"
            [disabled]="(disabled || (entry.value.isReadOnly ?? false))"
            [ngClass]="{'entry-editor-disabled': (disabled || (entry.value.isReadOnly ?? false))}">
            <mat-icon>file_upload</mat-icon>
        </button>
    </div>
    <mat-error *ngIf="inputFormControl.hasError('required')">
        {{entry.displayName}} is <strong>required</strong>
    </mat-error>
</div>