@use "../style/entry-editor-base" as *;

.block {
  display: block !important;
}

.code-button {
  margin-right: 5px;
}

.slider-wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.slider-label {
  margin-bottom: 6px;
}

.slider-row {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 0 12px;
}

.entry-slider {
  flex: 1 1 auto;
  min-width: 0;
}

.slider-inline-input {
  width: 112px;

  ::ng-deep .mat-mdc-form-field-subscript-wrapper {
    display: none;
  }

  ::ng-deep .mat-mdc-form-field-flex {
    align-items: center;
  }
}
