@use "../style/entry-editor-base";

.entry-object-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.object-entry-hint {
  font-size: 12px;
  line-height: 16px;
  margin-top: 4px;
  padding-left: 16px;
}

.entry-editor-disabled {
  opacity: 0.6;
}
