.file-editor-container {
  flex: 1 1 auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
}

.moryx-file-input {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
}

.file-input-field {
  flex: 1 1 auto;
}

.file-input-button {
  margin: 10px;
}

.file-input {
  display: none;
}
