<div  class="entry-checkbox-with-hint entry-editor-item-content">
  <mat-checkbox
    (click)="clickContainer($event)"
    [checked]="checked()"
    [disabled]="disabled() || (entry().value.isReadOnly ?? false)"
    [name]="name()"
    color="primary">
    <div class="checkbox-text-area">
      {{ name() }}
      @if (description()) {
        <mat-hint
          class="boolean-entry-form-hint"
          [ngClass]="{ 'entry-editor-disabled': disabled() || (entry().value.isReadOnly ?? false) }">
          {{ description() }}
        </mat-hint>
      }
    </div>
  </mat-checkbox>
</div>
