<div class="full-width-input">
  <div class="entry-list-item-content">
    <ng-container [ngSwitch]="true">
      <entry-file-editor
        matLine
        class="entry-list-item-value"
        [entry]="entry()"
        [disabled]="disabled()"
        *ngIf="EntryValueType.Stream === entry().value?.type">
      </entry-file-editor>
      <entry-object-editor
        matLine
        class="entry-list-item-value"
        [entry]="entry()"
        [editorId]="editorId()"
        [disabled]="disabled()"
        *ngIf="EntryValueType.Class === entry().value?.type || EntryValueType.Collection === entry().value?.type">
        ></entry-object-editor
      >
      <entry-boolean-editor
        matLine
        class="entry-list-item-value"
        [entry]="entry()"
        [disabled]="disabled()"
        *ngIf="EntryValueType.Boolean === entry().value?.type">
      </entry-boolean-editor>
      <entry-input-editor
        matLine
        class="entry-list-item-value"
        [entry]="entry()"
        [disabled]="disabled()"
        *ngIf="
          EntryValueType.Byte === entry().value?.type ||
          EntryValueType.Int16 === entry().value?.type ||
          EntryValueType.UInt16 === entry().value?.type ||
          EntryValueType.Int32 === entry().value?.type ||
          EntryValueType.UInt32 === entry().value?.type ||
          EntryValueType.Int64 === entry().value?.type ||
          EntryValueType.UInt64 === entry().value?.type ||
          EntryValueType.Single === entry().value?.type ||
          EntryValueType.Double === entry().value?.type ||
          EntryValueType.String === entry().value?.type ||
          EntryValueType.Exception === entry().value?.type
        ">
      </entry-input-editor>
      <entry-enum-editor
        matLine
        class="entry-list-item-value"
        [entry]="entry()"
        [disabled]="disabled()"
        *ngIf="EntryValueType.Enum === entry().value?.type">
      </entry-enum-editor>
    </ng-container>

    <button
      mat-icon-button
      class="entry-list-item-delete"
      type="button"
      (click)="onDelete()"
      [disabled]="disabled()"
      [ngClass]="{ disabled: disabled }">
      <span class="material-symbols-outlined entry-editor-list-item-button-icon">playlist_remove</span>
    </button>
  </div>
</div>
