<div class="navigation-bar" *ngIf="entryInformation && entryInformation.entryPath">
    <ng-container *ngFor="let e of entryInformation.entryPath; last as isLast">
        <span class="navigation-bar-item" (click)="onNavigateSpecific(e)">
            {{e.displayName}}
        </span>
        <span *ngIf="!isLast" class="material-symbols-outlined navigation-bar-layers navigation-bar-divider">
            chevron_right
        </span>
    </ng-container>
</div>

<entry-editor 
    [editorId]="editorId" class="navigation-entries" *ngIf="entryInformation && entryInformation.currentEntry" [entry]="entryInformation.currentEntry" [disabled]="disabled">
</entry-editor>