@use "../entry-editor.scss" as *;

:host {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    padding: 0px 8px;
}

.navigation-bar{
    margin: 0px -8px 8px -8px;
    padding: 4px 8px;
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
    border-bottom: 1px solid #e5e5e5;
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    align-items: center;
}

.navigation-bar-layers{
    font-size: 14px;
    line-height: 16px;
    font-weight: 300;
}
.navigation-bar-item {
    cursor: pointer;
}
.navigation-bar-item:hover {
    text-decoration: underline;
}
.navigation-bar-divider {
    cursor: default;
}

.navigation-entries{
    flex: 1 1;
    overflow-x: hidden;
    overflow-y: auto;
}
