@use "../style/entry-editor-base" as *;

:host {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
}

.add-item {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
  height: fit-content;
  padding-top: 5px;

  .type-selector {
    flex: 1 1;
    margin-right: 8px;
  }

  .add-button {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.items {
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  overflow-y: auto;
  overflow-x: hidden;

  .item {
    height: fit-content;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin-bottom: 12px;
  }
}
