// Colors
$primary: #33969d;
$info: rgb(128, 128, 128);
$success: #abcb3d;
$warning: #ebad34;
$danger: #e9545d;
$fatal: rgb(128, 0, 128);

$accent: #abcb3d;
$primary-light: #99cbce;
$primary-dark: #007c84;
$accent-light: #d5e59e;
$accent-dark: #96be0d;
$warn-light: #f39da3;
$warn-dark: #e3232f;

$mat-background: #fafafa;
$mat-background-light: white;
$mat-color: rgba(0, 0, 0, 0.87);
$mat-color-light: hsl(0, 0%, 96%);

$lighter-background-hover: hsl(0, 0%, 96%);
$light-background-hover: hsl(0, 0%, 86%);

//Scrollbar
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 100vw;
}
::-webkit-scrollbar-thumb {
  background: #bbb;
  border-radius: 100vw;
}
::-webkit-scrollbar-thumb:hover {
  background: #999;
  border: 0.5px solid #f1f1f1;
}

// Components
.moryx-selected {
  background: $primary-light;
}

.moryx-side-sheet-title {
  margin-bottom: 20px;
}

.moryx-side-sheet-subtitle {
  margin-top: -20px;
}
