// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;
@import 'theme-colors';
@import 'colors';

html {
  height: 100%;
  @include mat.theme((
    color: (
      primary: $primary-palette,
      tertiary: $tertiary-palette,
      theme-type: light,
    ),
    typography: Roboto,
    density: -4,
  ));
}

body {
  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
  height: 100%;
}

/* You can add global styles to this file, and also import other style files */

// Scrollbar
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 100vw;
}
::-webkit-scrollbar-thumb {
  background: #bbb;
  border-radius: 100vw;
}
::-webkit-scrollbar-thumb:hover {
  background: #999;
  border: 0.5px solid #f1f1f1;
}

// Components
.moryx-selected {
  background: $primary-light;
}

.moryx-side-sheet-title {
  margin-bottom: 20px;
}

.moryx-side-sheet-subtitle {
  margin-top: -20px;
}

.danger {
  background-color: darkred;
  color: white;
}

.success {
  background-color: darkgreen;
  color: white;
}

// Prevent Bulma override
table {
  border-collapse: separate !important;
}

table td, table th {
  vertical-align: inherit !important;
}
