// Angular Material 19
@use '@angular/material' as *;
@use 'variables' as *;
//Scrollbar
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 100vw;
}
::-webkit-scrollbar-thumb {
  background: #bbb;
  border-radius: 100vw;
}
::-webkit-scrollbar-thumb:hover {
  background: #999;
  border: 0.5px solid #f1f1f1;
}

// Components
.moryx-selected {
  background: $primary-light;
}

.moryx-side-sheet-title {
  margin-bottom: 20px;
}

.moryx-side-sheet-subtitle {
  margin-top: -20px;
}

.danger {
  background-color: darkred;
  color: white;
}

.success {
  background-color: darkgreen;
  color: white;
}

// Prevent Bulma override
table {
  border-collapse: separate !important;
}

table td, table th {
  vertical-align: inherit !important;
}


html {
  @include theme((
    color: (
      primary: $primary-palette,
      tertiary: $tertiary-palette,
      theme-type: light,
    ),
    typography: Roboto,
    density: -4
  ));
}
