@if (EntryValueType.Collection === entry().value.type) {
  <div class="entry-editor-add-list-item">
    <mat-form-field class="entry-editor-add-list-item-type-selector" appearance="outline">
      <mat-label>Select the type of object</mat-label>
      <!-- Check for missing readonly integration for disabled fields and create combined/computed field -->
      <mat-select [(ngModel)]="selectedListItemType" [disabled]="disabled()">
        @for (pv of possibleListItemTypes(); track pv.key) {
          <mat-option [value]="pv.key">
            {{ pv.displayName ?? pv.key }}
          </mat-option>
        }
      </mat-select>
    </mat-form-field>

    <button
      mat-icon-button
      class="entry-editor-add-list-item-button"
      type="button"
      (click)="addItemToList()"
      [disabled]="disabled()"
      [ngClass]="{ disabled: disabled() }">
      <span class="material-symbols-outlined entry-editor-list-item-button-icon">playlist_add</span>
    </button>
  </div>
}

<!-- ToDo: Clarify whether this is only intended for prototype related selections, it is also shown if no prototype exists -->
@if (isEntryTypeSettable(entry())) {
  <div class="settable-dropdown-entry">
    <mat-form-field appearance="outline" class="settable-dropdown-entry-selector">
      <mat-label>{{ entry().displayName }}</mat-label>

      <mat-select
        [disabled]="disabled() || (entry().value.isReadOnly ?? false)"
        [(ngModel)]="entry().value.current"
        (selectionChange)="dropdownSelectionChanged($event)">
        @for (pv of entry().value.possible; track pv.key) {
          <mat-option [value]="pv.key">
            {{ pv.displayName ?? pv.key }}
          </mat-option>
        }
      </mat-select>
      <mat-hint
        [ngClass]="{ 'entry-editor-disabled': disabled() || (entry().value.isReadOnly ?? false) }"
        class="truncate">
        {{ entry().description }}
      </mat-hint>
    </mat-form-field>
  </div>
}

@if (entry().subEntries?.length) {
  <mat-list class="entry-editor-subentries-list">
    @for (subEntry of entry().subEntries; track subEntry.identifier) {
      <!-- ToDo: Use switch on type -->
      @if (EntryValueType.Collection === entry().value.type) {
        <!-- ToDo: Add error message to indicate missing editor id in using application -->
        @if (editorId()) {
          <!-- ToDo: Signal update missing for entry -->
          <entry-list-item
            matLine
            class="entry-editor-subentries-list-item"
            [editorId]="editorId()!"
            [entry]="subEntry"
            [disabled]="disabled()"
            (deleteRequest)="onDeleteListItem($event)">
          </entry-list-item>
        }
      } @else if (EntryValueType.Stream === subEntry.value.type) {
        <!-- ToDo: Signal update missing for entry -->
        <entry-file-editor
          matLine
          class="entry-editor-subentries-list-item"
          [entry]="subEntry"
          (entryChange)="updateSubEntry($event)"
          [disabled]="disabled()">
        </entry-file-editor>
      } @else if (EntryValueType.Class === subEntry.value.type || EntryValueType.Collection === subEntry.value.type) {
        <!-- ToDo: Add error message to indicate missing editor id in using application -->
        @if (editorId()) {
          <!-- ToDo: Signal update missing for entry -->
          <entry-object-editor
            matLine
            class="entry-editor-subentries-list-item"
            [entry]="subEntry"
            [editorId]="editorId()!"
            [disabled]="disabled()">
          </entry-object-editor>
        }
      } @else if (EntryValueType.Boolean === subEntry.value.type) {
        <!-- ToDo: Signal update missing for entry -->
        <entry-boolean-editor
          matLine
          class="entry-editor-subentries-list-item"
          [entry]="subEntry"
          (entryChange)="updateSubEntry($event)"
          [disabled]="disabled()">
        </entry-boolean-editor>
      } @else if (EntryValueType.Enum === subEntry.value.type ||
                  ((subEntry.value.possible?.length ?? 0) > 1 &&
                   !isEntryTypeSettable(subEntry))) {
        <entry-enum-editor
          matLine
          class="entry-editor-subentries-list-item"
          [entry]="subEntry"
          (entryChange)="updateSubEntry($event)"
          [disabled]="disabled()">
        </entry-enum-editor>
      } @else if (isPrimitiveType(subEntry)) {
        <entry-input-editor
          matLine
          class="entry-editor-subentries-list-item"
          [entry]="subEntry"
          (entryChange)="updateSubEntry($event)"
          [disabled]="disabled()">
        </entry-input-editor>
      }
    }
  </mat-list>
}
