@use "style/entry-editor-base";

:host {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
}

.entry-editor-subentries-list {
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  overflow-y: auto;
  overflow-x: hidden;
}

.entry-editor-subentries-list-item {
  height: fit-content;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.mat-button-wrapper .mat-icon {
  margin-top: -4px;
}

.settable-dropdown-entry{
  flex: 0;
  padding-top: 5px;
}
.settable-dropdown-entry-selector{
  width: 100%;
}
