@if (entryInformation(); as entryInfo) {
  @if (entryInfo.entryPath) {
    <div class="navigation-bar">
      <div class="navigation-breadcrumbs">
        <!-- ToDo: Update tracking as whole collection is recreated every time -->
        @for (e of entryInfo.entryPath; track e; let isLast = $last) {
          <mat-chip-set>
            <mat-chip [highlighted]="isLast" (click)="onNavigateSpecific(e)">{{ e().displayName }}</mat-chip>
          </mat-chip-set>
          @if (!isLast) {
            <mat-icon class="navigation-bar-divider">chevron_right</mat-icon>
          }
        }
      </div>
      @if (entryInfo.currentEntry()?.description; as description) {
        <p class="navigation-description">{{ description }}</p>
      }
    </div>
  }

  @if (entryInfo.currentEntry(); as current) {
    <entry-editor [editorId]="editorId()" class="navigation-entries" [entry]="current"
      (entryChange)="onEntryChange($event)" [disabled]="disabled()">
    </entry-editor>
  }
}
