@if(entryInformation(); as entryInfo) {
  @if (entryInfo.entryPath) {
    <div class="navigation-bar">
      @for (e of entryInfo.entryPath; track e; let isLast = $last) {
        <span class="navigation-bar-item" (click)="onNavigateSpecific(e)">
          {{e.displayName}}
        </span>
        @if (!isLast) {
          <span class="material-symbols-outlined navigation-bar-layers navigation-bar-divider">
            chevron_right
          </span>
        }
      }
    </div>
  }


  @if (entryInfo.currentEntry) {
    <entry-editor
      [editorId]="editorId()" class="navigation-entries"
      [(entry)]="entryInfo.currentEntry"
      [disabled]="disabled()">
    </entry-editor>
  }
}
