<mat-form-field class="full-width-input entry-form-field" appearance="outline">
    <mat-label>{{entry().displayName}}</mat-label>
    <mat-select [formControl]="FormControl" (selectionChange)="changed($event)"
        [multiple]="isFlagEnum">
        <mat-option *ngFor="let pv of entry().value?.possible" [value]="pv">
            {{pv}}
        </mat-option>
    </mat-select>
    <mat-hint [ngClass]="{'entry-editor-disabled': (disabled() || (entry().value.isReadOnly ?? false))}">
        {{entry().description}}
    </mat-hint>
</mat-form-field>