<div class="boolean-editor">
  <div class="boolean-input-row">
    <mat-checkbox (click)="clickContainer($event)" [checked]="checked()"
      [disabled]="disabled() || (entry().value.isReadOnly ?? false)" [name]="name()" color="primary"
      [class.readonly]="(entry().value.isReadOnly ?? false) && !disabled()">
      {{ name() }}
    </mat-checkbox>
    @if (entry().value.isReadOnly) {
      <mat-icon [class.entry-editor-disabled]="disabled()">lock</mat-icon>
    }
  </div>
  @if (description()) {
    <mat-hint class="truncate" [class.entry-editor-disabled]="disabled()">
      {{ description() }}
    </mat-hint>
  }
</div>
