<mat-form-field class="full-width-input" appearance="outline" >
    <mat-label>{{entry().displayName}}</mat-label>
    <input aria-label="Text field for changing an entry value." 
        [type]="isPassword ? 'password': 
            isNumber ? 'number'
                : 'text'"

        [attr.min]="isNumber ? entry().validation?.minimum : null"
        [attr.max]="isNumber ? entry().validation?.maximum : null"
        [placeholder]="entry().description ?? 'No description available'" 
        matInput [formControl]="inputFormControl">

    <mat-error *ngIf="inputFormControl.hasError('min')">
        Please enter a value higher than {{entry().validation?.minimum}}
    </mat-error>
    <mat-error *ngIf="inputFormControl.hasError('max')">
        Please enter a value lower than {{entry().validation?.maximum}}
    </mat-error>
    <mat-error *ngIf="inputFormControl.hasError('pattern')">
        Please make sure your input matches the following pattern: {{entry().validation?.regex}}
    </mat-error>
    <mat-error *ngIf="inputFormControl.hasError('required')">
        {{entry().displayName}} is <strong>required</strong>
    </mat-error>
    <mat-error *ngIf="inputFormControl.hasError('invalidEntryValue')" class="block">
        The entered value is <strong>invalid</strong>
    </mat-error>
</mat-form-field>
