<div *ngIf="disabled === false && EntryValueType.Collection === entry.value?.type" class="entry-editor-add-list-item">
    <mat-form-field class="entry-editor-add-list-item-type-selector" appearance="fill">
        <mat-label>Select the type of object</mat-label>

        <mat-select [(ngModel)]="selectedListItemType">
            <mat-option *ngFor="let pv of possibleListItemTypes" [value]="pv">
                {{pv}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    
    <button mat-icon-button color="primary" class="entry-editor-add-list-item-button" (click)="addItemToList()" [disabled]="disabled"
        [ngClass]="{'disabled': disabled}">
        <span class="material-symbols-outlined entry-editor-list-item-button-icon">playlist_add</span>
    </button>
</div>

<mat-divider *ngIf="disabled === false && EntryValueType.Collection === entry.value?.type"></mat-divider>


<mat-list class="entry-editor-subentries-list">
    <ng-container *ngFor="let subEntry of entry.subEntries ?? []">
        <ng-container *ngIf="EntryValueType.Collection === entry.value?.type; else elseBlock">
            <ng-container *ngIf="editorId">
                <entry-list-item matLine class="entry-editor-subentries-list-item" [editorId]="editorId" [entry]="subEntry" [disabled]="disabled"
                    (deleteRequest)="onDeleteListItem($event)">
                </entry-list-item>
            </ng-container>
        </ng-container>
        <ng-template #elseBlock>
            <ng-container [ngSwitch]="true">
                <entry-file-editor matLine class="entry-editor-subentries-list-item" [entry]="subEntry"
                    [disabled]="disabled" *ngSwitchCase="EntryValueType.Stream === subEntry.value?.type">
                </entry-file-editor>
                <ng-container *ngIf="editorId">
                    <entry-object-editor matLine class="entry-editor-subentries-list-item" [entry]="subEntry" [editorId]="editorId"
                        *ngSwitchCase="EntryValueType.Class === subEntry.value?.type || EntryValueType.Collection === subEntry.value?.type">
                        ></entry-object-editor>
                </ng-container>
                <entry-boolean-editor matLine class="entry-editor-subentries-list-item" [entry]="subEntry"
                    [disabled]="disabled" *ngSwitchCase="EntryValueType.Boolean === subEntry.value?.type">
                </entry-boolean-editor>
                <entry-input-editor matLine class="entry-editor-subentries-list-item" [entry]="subEntry"
                    [disabled]="disabled" *ngSwitchCase="
                                    (subEntry.value?.possible === null || 
                                    subEntry.value?.possible === undefined ) &&
                                    (EntryValueType.Byte === subEntry.value?.type ||
                                    EntryValueType.Int16 === subEntry.value?.type || 
                                    EntryValueType.UInt16 === subEntry.value?.type ||
                                    EntryValueType.Int32 === subEntry.value?.type ||
                                    EntryValueType.UInt32 === subEntry.value?.type ||
                                    EntryValueType.Int64 === subEntry.value?.type ||
                                    EntryValueType.UInt64 === subEntry.value?.type ||
                                    EntryValueType.Single === subEntry.value?.type ||
                                    EntryValueType.Double === subEntry.value?.type ||
                                    EntryValueType.String === subEntry.value?.type ||
                                    EntryValueType.Exception === subEntry.value?.type)">
                </entry-input-editor>
                <moryx-select
                *ngSwitchCase="EntryValueType.Enum === subEntry.value?.type || 
                    (subEntry.value?.possible?.includes(subEntry.value?.default ?? subEntry.value?.current ?? '') && EntryValueType.Collection != subEntry.value?.type)"
                [items]="subEntry.value.possible"
                [label]="subEntry?.displayName" 
                [uid]="subEntry?.identifier"
                [(ngModel)]="subEntry.value.current"
                (selectedValue)="valueChanged($event,subEntry)"
                [disabled]="subEntry.value.isReadOnly??false">
                </moryx-select>
                <div>{{subEntry.value.current}}</div>
            </ng-container>
        </ng-template>
    </ng-container>
</mat-list>