:host {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
}

.entry-editor-subentries-list {
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    overflow-y: auto;
}

.entry-editor-subentries-list-item {
    height: fit-content;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.entry-editor-add-list-item {
    display: flex;
    margin: 0px 0px -8px 0px;
    height: fit-content;
    padding: 0 32px 0 0px;
}

.entry-editor-add-list-item-type-selector {
    flex: 1 1;
    margin-right: 10px;
}

.entry-editor-add-list-item-button {   
    height: 36px; 
    padding-left: 6px;
    margin-top: 8px;
}
.mat-button-wrapper .mat-icon {
    margin-top: -4px;
}